body{
    font-family: 'Luxurious Roman', cursive;
}
.stay-oon{
    font-size: 50px;
    border-left: solid tomato;
    border-width: 10px;
    border-radius: 1.5%;

}
.stay-on{
    font-size: 50px;
}
.miss{
    color: rgba(248, 179, 50, 0.849);
}
.flexible-container{
    display: flex;
    padding-top: 2.5%;
}
.half-width{
    width: 70%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
    padding-top: 5%;
    padding-left: 5%;
}
.ador{
    font-size:20px ;
}
.link{
    text-decoration: none;
    background-color: rgba(241, 65, 241, 0.753);
    padding: 10px 35px;
    color: rgb(20, 62, 199);
    font-weight: 700;
    border-radius: 5px;
}
.my{
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
}
.span{
    color: rgba(238, 72, 30, 0.973);
}

.half-widthh{
    width: 80%;
    padding-right: 5%;
    padding-top: 1%;
   
}
.half-widthh img{
    width: 70%;
    padding-top: 5%;
    padding-left: 15%;
    padding-bottom: 7%;
}
.developerr{
    display: flex;
}
.half-widthhh{
    width: 80%;
    padding-left: 10%;
    padding-top: 5%;
}
.half-widthhh img{
    width: 70%;
    padding-top:3%;
    padding-right: 10%;
}
.myy{
    font-size: 50px;
    text-align: center;
    padding-top: 65px;
}
.stay-onn{
    font-size: 50px;
    border-left: rgba(238, 155, 45, 0.938);
    padding-top: 100px;
}
footer{
    text-align: center;
    background-color: rgb(19, 10, 10);
    height: 80px;
    }
.foot{
    color: rgba(42, 116, 165, 0.747);
}
.mis{
    color: rgba(53, 100, 0, 0.733);
}
#div-1{
    background-color: rgba(233, 41, 233, 0.26);
    width: 25%;
    float: left;
    border-radius: 5%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
}
#div-2{
   
    background-color: rgba(16, 123, 156, 0.295);
    width: 25%;
    float: right;
    border-radius: 5%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
}
#div-3{
    background-color: rgba(3, 94, 33, 0.212);
    width: 25%;
    margin: 0 auto;
    border-radius: 5%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    
}
.img-1{
    width: 40%;
    padding-right: 60%;
}
.img-2{
    width: 40%;
    padding-right: 60%;
}
.img-3{
    width: 40%;
    padding-right: 60%;
}
.mother{
    padding-top: 7%;
} 
.stayy-on{
    font-size: 50px;
    padding-top: 15%;
}