body{
    font-family: 'Luxurious Roman', cursive;
    margin: 0%;
}
.stay-oon{
    font-size: 50px;
    border-left: solid tomato;
    border-width: 10px;
    border-bottom-left-radius: 1.5%;
    padding-left: 4%;
    border-top-left-radius: 1.5%;
}
.stay-on{
    font-size: 50px;
}
.miss{
    color: rgba(68, 21, 155, 0.685);
}
.flexible-container{
    display: flex;
    padding-top: 2.5%;
}
.half-width{
    width: 70%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
    padding-top: 5%;
    padding-left: 5%;
}
.ador{
    font-size:20px ;
}
.link{
    text-decoration: none;
    background-color: rgb(255, 71, 178);
    padding: 10px 22px;
    color: rgba(247, 247, 247, 0.918);
    font-weight: 700;
    border-radius: 5px;
    
}
.my{
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
}
.span{
    color: rgba(238, 72, 30, 0.973);
}

.half-widthh{
    width: 80%;
    padding-right: 5%;
    padding-top: 1%;
   
}
.half-widthh img{
    width: 70%;
    padding-top: 5%;
    padding-left: 15%;
    padding-bottom: 7%;
}
.developerr{
    display: flex;
}
.half-widthhh{
    width: 80%;
    padding-left: 10%;
    padding-top: 5%;
}
.half-widthhh img{
    width: 70%;
    padding-top:3%;
    padding-right: 10%;
}
.myy{
    font-size: 50px;
    text-align: center;
    padding-top: 65px;
}
.stay-onn{
    font-size: 50px;
    border-left: rgba(238, 155, 45, 0.938);
    padding-top: 100px;
}
footer{
    text-align: center;
    background-color: rgb(19, 10, 10);
    height: 80px;
    }
.foot{
    color: rgba(42, 116, 165, 0.747);
}
.mis{
    color: rgba(255, 255, 255, 0.856);
}
#div-1{
    background-color: rgba(233, 41, 233, 0.137);
    float: left;
    border-radius: 5%;
    padding-right: 3%;
    padding-left: 3%;
    margin-left: 4%;
    margin-right: 2%;
}
#div-2{
   
    background-color: rgba(16, 123, 156, 0.144);
    float: right;
    border-radius: 5%;
    padding-right: 3%;
    padding-left: 3%;
    margin-left: 2%;
    margin-right: 4%;
}
#div-3{
    background-color: rgba(9, 129, 49, 0.137);
    margin: 0 auto;
    border-radius: 5%;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: 4%;
}
.img-1{
    width: 40%;
    padding-right: 60%;
}
.img-2{
    width: 30%;
    padding-right: 60%;
}
.img-3{
    width: 40%;
    padding-right: 60%;
}
.mother{
    display: flex;
    padding-top: 7%;
} 
.stayy-on{
    font-size: 50px;
    padding-top: 15%;
}